<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 col-lg-4 text-center">

        <!-- Brand -->
        <img src="@@webRoot/assets/img/heritageVR.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-black mb-2">
          A research project <a class="nav-link" href="http://mbl.itu.edu.tr/">@Istanbul Technical University </a>
        </p>


      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
